/.idea/
/venv/
__pycache__/

### Flask ###
instance/*
!instance/.gitignore
.webassets-cache
.env

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Database ###
*.accdb
*.db
*.dbf
*.mdb
*.pdb
# *.sqlite
*.sqlite3

# migrations
# */migrations/*
# **/migrations
# **/migrations/__init__.py